.testimonialsSection {
  padding: 1rem;
  text-align: center;
  justify-content: center;
  background: #f4f5f7;
  color: #0c0b0b;
  margin-top: -2rem !important;
}

.heading {
  font-size: 2.5rem;
  font-weight: 700 !important;
  margin-top: -2rem !important;
  margin-bottom: 0.25rem !important;
  background: linear-gradient(
    90deg,
    #2e225d,
    #3a2d91,
    #4b3fa9,
    #5d51bf,
    #6e63d5,
    #2e225d
  );
  background-size: 400% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlow 6s linear infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.subheading {
  color: #475569;
  margin-bottom: 1rem !important;
  font-size: 1rem !important;
  line-height: 1 ;
}

.carouselContainer {
  overflow: hidden;
  position: relative;
}

.cardsWrapper {
  display: flex;
  text-align: center;
  justify-content:space-around;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
  scroll-snap-type: x mandatory;
}

.testimonialCard {
  background: #1e293b;
  color: #fff;
  width: 100%;
  max-width: 300px;
  
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  scroll-snap-align:inherit;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.name {
  font-weight: 600;
}

.role {
  font-size: 0.875rem;
  color: #a1a1aa;
}

.feedback {
  font-style: italic;
  margin: 1rem 0;
}

.stars {
  color: #facc15;
}

.badge {
  font-size: 0.75rem;
  color: #94a3b8;
  margin-top: 0.5rem;
}

/* 💻 Tablet & Laptop Screens */
@media (max-width: 1024px) {
  .cardGrid {
    gap: 1.5rem;
  }
}

/* 📱 Small Screens */
@media (max-width: 768px) {
  .testimonialCard {
    width: 300px !important;
  }
}

@media (max-width: 575px) {
  .testimonialCard {
    width: 300px !important;
  }
  .heading{
    font-size: 1.5rem !important;
  }
  .subheading{
    font-size: 0.8rem !important;
    line-height: 1 !important;
     margin-bottom: 0.5rem !important;
  }
}

@media (max-width: 475px) {
  .testimonialCard {
    width: 290px !important;
  }
  .heading{
    font-size: 1.5rem !important;
  }
   .subheading{
    font-size: 0.8rem !important;
    line-height: 1 !important;
     margin-bottom: 0.5rem !important;
  }
}

@media (max-width: 350px) {
  .testimonialCard {
    width: 275px !important ;
     border-radius: 0px !important;
     text-align: center !important;
  }
  .heading{
    font-size: 1.5rem !important;
  }
   .subheading{
    font-size: 0.8rem !important;
    line-height: 1 !important;
     margin-bottom: 0.5rem !important;
  }
  .name {
  font-weight: 600 !important;
}

.role {
  font-size: 0.75rem !important;
  color: #a1a1aa;
}

.feedback {
  font-style: italic;
  font-size: 1rem !important;
  margin: 1rem 0;
}
}
